<ion-card class="card" (click)="navigateTo()">
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <ion-img src="/assets/productos/unnamed.jpg"></ion-img>
      </ion-col>
      <ion-col size="7">
        <ion-row class="row-card">
          <ion-col no-padding size="12">
            <h1 class="h1-card">Arroz</h1>
          </ion-col>
          <ion-col size="12">
            <ion-card-subtitle class="h3-card">Gallo</ion-card-subtitle>
          </ion-col>


        </ion-row>
        <ion-row>

        </ion-row>

      </ion-col>

    </ion-row>

  </ion-grid>
</ion-card>
