.icon-toolbar{
  --icon-font-size: 5px
}

.row-card{
  height: 60%;
  border-bottom: 1px solid red;
}

.h1-card{
  margin: 0px;
}

.h3-card{
  margin: 0px;
}

.img-oferta{
  height: 120%;
  width: 120%;
}

.card{
  margin-bottom: 1%;
  margin-top: 1%;
}

ion-fab{
  margin-bottom: 5%;
}
