<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>{{opcion.nombre}}</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Refresher -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="nuevaOferta()">
        <ion-icon color="primary" name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="primary" name="search"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>

  </ion-fab>

  <!-- Productos -->
  <app-productos [productos]="productos"></app-productos>

  <!-- Infinite scroll -->
  <ion-infinite-scroll  [disabled]="deshabilitado"
                        threshold="150px"
                        (ionInfinite)="cargarProductos($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
