.imagen-carrito{
  width: 210px;
  height: 160px;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 30%;
}

.titulo{
  margin-left: 8%;
  margin-right: 8%;
}
.subtitulo{
  margin-left: 10%;
  margin-right: 10%;
}
