<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>

    <ion-title>{{producto.categoria}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item class="item-img">
    <ion-img [src]="producto.foto"></ion-img>
  </ion-item>
  <p class="p-fecha-publicacion">Publicado el {{producto.fecha_pub}}</p>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h1>{{producto.producto}} - {{producto.marca}}</h1>
      </ion-text>
      <h1 class="margin-10">$ {{producto.precio}} </h1>
      <h2 style="margin-top: 5%">Valido Hasta: {{producto.validez}}</h2>
    </ion-label>
  </ion-item>


  <ion-item class="margin-10">
    <ion-label>
      {{producto.establecimiento}}
    </ion-label>
    <ion-icon name="compass" slot="end" (click)="openRegisterModal()"></ion-icon>
  </ion-item>


  <ion-item class="margin-10">
    <ion-label class="ion-text-wrap">
{{producto.descripcion}}
    </ion-label>
  </ion-item>


</ion-content>
