<ion-content>

    <ion-img align-items-center class="logo-login" src="/assets/logo-solo.png"></ion-img>

      <form #formulario="ngForm" (ngSubmit)="onClick()" class="form">

          <h1 class="ion-padding">Iniciar Sesion</h1>

          <ion-item class="input" lines="none">
            <ion-input type="email" name="email" [(ngModel)]="usuario.email" required placeholder="Email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
          </ion-item>
          <ion-item lines="none" class="input" margin-top="10px">
            <ion-input type="password" name="password" [(ngModel)]="usuario.password" placeholder="Contraseña" required></ion-input>
          </ion-item>
            <ion-row class="top-30">
                <ion-col>
                    <ion-button class="top-20" shape="round" expand="full" fill="solid" color="medium" type="submit" [disabled]="formulario.invalid" (click)="loginService()">Iniciar Sesion</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="top-20" shape="round" expand="full" fill="solid" color="tertiary" (click)="openRegisterModal()">Registrarte</ion-button>
                </ion-col>
            </ion-row>
      </form>
</ion-content>
