.padding-0{
  padding: 0;
}
.card-1{
  margin: 0;
  border-radius: 0;
  background: transparent;
}
.margin-row{
  margin-left: 10%;
  margin-right: 10%;
}

.col-1{
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}
.img-1{
  padding: 20%;
  padding-bottom: 11.66%;
  padding-top: 11.66%;
}
.subtitle-1{
  margin-bottom: 6%;
}

.logo-header{
height: 40%;
  width: 9%;
  margin-left: 46%;
}

.logo {
  display: block;
  height: 10%;
  //width: 15%;
  margin: 6% 35% 15% 35%
}
