<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-img class="logo-header" src="/assets/logo-solo.png"></ion-img>


    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-img class="logo" src="/assets/logo-titulo.jpg"></ion-img>

  <ion-grid fixed>
    <ion-row class="margin-row">
      <ion-col class="col-1" size="6" size-lg="3" size-md="4" size-sm="6"
               *ngFor="let option of opciones">

        <ion-card class="card-1" (click)="navigateTo(option.nombre)">
          <ion-img class="img-1" [src]="option.imagen"></ion-img>
         <ion-card-subtitle class="subtitle-1" text-center>{{option.nombre}}</ion-card-subtitle>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
